{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}

{% block title %}{{ page_title }}{% endblock %}

{% block scripts %}
{{ block.super }}
<style>
  #submit{
    display: inline-block;
    float: left;
  }

  #delete_row{
    display: inline-block;
    float: right;
  }

  #add_row{
    display: inline-block;
    float: right;
  }

</style>

<script type="text/javascript">


$(document).ready(() => {

  const size = 10;

  $('.datepicker').datepicker();

  $("#add_row").click(() => {
    let val = parseInt($("#id_itinerary_table tr:last").attr('id').split("_").pop());

    if (val < size) {
      $("#id_itinerary_table tr:last").clone().appendTo("#id_itinerary_table");
      val++;
      $("#id_itinerary_table tr:last").attr("id","row_" + val);
      $('.datepicker').datepicker();
    }
  })

  $("#delete_row").click(() => {
    let val = parseInt($("#id_itinerary_table tr:last").attr('id').split("_").pop());
    if (val != 0){
      $("#id_itinerary_table tr:last").remove();
    }
  })

  $("#id_interim_intentions_form").submit(function(e) {
    flashAjaxStatus()
  });

});



</script>
{% endblock %}

{% block content %}
<h2>{{ page_title }}</h2>

{% if form.errors %}
<!-- Error messaging -->
  <div id="errors">
    <div class="inner">
      <p>There were some errors in the information you entered. Please correct the following:</p>
      {{ form.non_field_errors }}
      <ul>
        {% for field in form %}
          {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
<!-- /Error messaging -->
{% endif %}

<form id="id_interim_intentions_form" method="post" action="">
  {% csrf_token %}
  <div class="panel">
    <h4>Contact Information:</h4>
    <p>Please verify that your contact information is up to date.</p><br>
    <div class="row">
      <div class="col-md-2">
        {{form.cell_phone.label}}:
      </div>
      <div class="col-md-4">
        {{form.cell_phone}}
      </div>
      <div class="col-md-2">
        {{form.home_phone.label}}:
      </div>
      <div class="col-md-4">
        {{form.home_phone}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        {{form.email.label}}:
      </div>
      <div class="col-md-4">
        {{form.email}}
      </div>
      <div class="col-md-2">
        {{form.home_locality.label}}:
      </div>
      <div class="col-md-4">
        {{form.home_locality}}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2">
        {{form.home_address.label}}:
      </div>
      <div class="col-md-10">
        {{form.home_address}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        {{form.home_city.label}}:
      </div>
      <div class="col-md-2">
        {{form.home_city}}
      </div>
      <div class="col-md-2">
        {{form.home_state.label}}:
      </div>
      <div class="col-md-2">
        {{form.home_state}}
      </div>
      <div class="col-md-2">
        {{form.home_zip.label}}:
      </div>
      <div class="col-md-2">
        {{form.home_zip}}
      </div>
    </div>
  </div>
  <div class="panel">
    <h4>Interim Itinerary:</h2>
    <p>Please be thorough in filling out the schedule below and include brief descriptions, locations with pertinent addresses, phone numbers, etc. for our ease in contacting you. The following return dates have been set to help you have a smooth transition into the next term, to give you additional time to unpack and settle into your house before pre-training, and to prepare your house for incoming trainees.<br/>

    Second year trainees return by Saturday, August 11 at 10:00am.<br/>
    First year trainees return by Saturday, August 11 at 3:00pm.<br/></p>

    <p>You may arrive as early as Friday, August 10, but not later than the date and time above. Those who arrive before Friday, August 10 must be available to serve. The next term of the Training begins on Lord's Day, August 12</p>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered" id="id_itinerary_table">
          <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Notes/Comments</th>
          </tr>
          {% for itin_form in itinerary_forms %}
          <tr id="row_{{forloop.counter0}}">
            <td>{{itin_form.start}}</td>
            <td>{{itin_form.end}}</td>
            <td>{{itin_form.comments}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="col-md-12">
        <button type="button" class="btn btn-primary" id="delete_row">Delete</button>
        <button type="button" class="btn btn-primary" id="add_row">Add</button>
      </div>
    </div>
  </div>
  <div class="panel">
    <h4>{{form.intent.label}}:</h4>
    <div class="row">
      <div class="col-md-12">
        {% for c in form.intent %}
          {{c}}&nbsp;
        {% endfor %}
      </div>
    </div>
  </div>
    <button type="submit" class="btn btn-primary btn-save" id="submit">{{button_label|safe}}</button>
  </form>
{% endblock %}
